body {
  margin: 0;
  font-family: tanha, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: tanha, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
    font-family: 'tanha';
}

@font-face {
        font-family: "tanha";
        font-style: normal;
        font-weight: bold;
        src: url("./font/Tanha.eot");
        src: url('./font/Tanha.eot?#iefix');
        src: url('./font/Tanha.woff2');
        src: url('./font/Tanha.woff');
        src: url('./font/Tanha.ttf');
}

